<h3></h3>

<!-- div row para pesquisa -->
<!--<div class="row">-->


<div data-component="crn-button" id="crn-button-564202" class="">
    <button class="btn btn-primary" type="submit" onclick="" data-component="crn-button" ng-click="Local_Plantao.startInserting()" ng-hide="Local_Plantao.inserting || Local_Plantao.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<!-- fim div row para pesquisa -->
<!--</div>-->

<datasource filter="" name="Local_Plantao" entity="api/cronapi/crud/app.entity.Local_Plantao" keys="cd_codigo_lpl" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Local_Plantao">
    <div crn-datasource="Local_Plantao" class="" ng-hide="Local_Plantao.editing || Local_Plantao.inserting">
        <table class="table  table-bordered table-hover table-striped">
            <thead>
            <tr class="table-header">
                <th class="">
                    <div class="">Local Plantão</div>
                </th>
                <th class="">
                    <div class="">Hospitais</div>
                </th>
                <th class="">
                    <div class="">{{"template.crud.actions" | translate}}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-content" ng-repeat="rowData in datasource.data">
                <td class="">
                    <div class="">
                                {{rowData.nm_local_lpl  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                            {{rowData.hospitais.nm_hospital_hsp}}
                    </div>
                </td>
                <td class="">
                    <div class="">
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-footer-controls">
            <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
        </div>
    </div>
</div>
<div data-component="crn-form" id="crn-form-form-Local_Plantao">
    <div class="form" ng-show="Local_Plantao.editing || Local_Plantao.inserting">
        <form crn-datasource="Local_Plantao" class="">
            <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-danger" data-component="crn-button" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <br>
            <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">

                <div data-component="crn-textinput" id="crn-textinput-nm_local_lpl" class="">
                    <div class="form-group">
                        <label for="textinput-nm_local_lpl" class="">Local Plantão</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input maxlength="50" type="text" ng-model="Local_Plantao.active.nm_local_lpl" class="form-control" id="textinput-nm_local_lpl" placeholder="Informe local do plantão. Ex: CTI A" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                    <datasource name="Hospitais" entity="api/cronapi/crud/app.entity.Hospitais" keys="cd_codigo_hsp" class="" dependent-by="{{Local_Plantao}}"></datasource>

                <div data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-hospitais" class="">
                    <div class="form-group">
                        <label for="combobox-dynamic-hospitais" class="">Hospitais</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <ui-select ng-model="Local_Plantao.active.hospitais" crn-datasource="Hospitais" class="crn-select" id="combobox-dynamic-hospitais" ng-required="false" theme="bootstrap">
                                    <ui-select-match class="" placeholder="Select...">
                                        {{$select.selected.nm_hospital_hsp}}
                                    </ui-select-match>
                                    <ui-select-choices repeat="rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
                                        <div class="" data-container="true">
                                            {{rowData.nm_hospital_hsp}}
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                <!-- NtoN  -->
                <!-- NtoN  end-->
            </fieldset>
        </form>
        <form>
            <fieldset>
                <!-- OneToN -->
                <!-- OneToOne  end -->
            </fieldset>
        </form>
    </div>
</div>


<!-- OneToOne modal -->
<!-- OneToOne modal end-->
